<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link th:href="@{/styles/startStyle.css}" rel="stylesheet">
    <link th:href="@{/styles/login.css}" rel="stylesheet">

    <title>[[#{app.HCMHelper}]] </title>
</head>
<body>
<div class="pl-xl-5 border-info rounded-bottom form-group row h-25 border-bottom " id="login_background">
        <div class="col-10 pt-4 pb-2 justify-content-left">
            <h1 class="text-group">[[#{app.HCMHelper}]]</h1>
            <p>
                [[#{app.HCMHelperDescription}]]
            </p>
        </div>
        <div class="col-2 d-flex justify-content-centre position-relative">
            <div th:with="currentUrl=(${#httpServletRequest.requestURI + '?' + #strings.defaultString(#httpServletRequest.queryString, '')})">
                <div class="nav-item active form-inline">
                    <div class="nav-item active form-inline d-flex justify-content-centre"
                         th:with="currentUrl=(${@currentUrlWithoutParam.apply('lang')})">
                        <a class="nav-link font-weight-light" th:href="@{${currentUrl}(lang=mk)}">
                            <p width="30"> MK</p>
                        </a>
                    </div>
                    <div class="nav-item active" th:with="currentUrl=(${@currentUrlWithoutParam.apply('lang')})">
                        <a class="nav-link font-weight-light" th:href="@{${currentUrl}(lang=en)}">
                            <p width="30"> EN</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>
<main role="main" class="background">
    <!-- login -->
    <form class="form-horizontal container" role="form" method="POST" th:action="@{/login}">
        <div class="row">
            <div class="col-md-3 mt-5"></div>
            <div class="col-md-6">
                <h5>[[#{app.pleaseLogin}]]</h5>
                <hr>
                <div class="alert alert-danger" th:if="${param.error != null}">
                    [[#{app.invalidUsernameAndPassword}]]
                </div>
                <div class="alert alert-success" th:if="${param.logout != null}">
                    [[#{app.youHaveBeenLoggedOut}]]
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="sr-only" for="username">[[#{app.username}]]</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        </div>
                        <input type="text" name="username" class="form-control" id="username"
                               th:placeholder="#{app.username}"
                               required
                               autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="sr-only" for="password">[[#{app.password}]]</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        </div>
                        <input type="password" name="password" class="form-control" id="password"
                               th:placeholder="#{app.password}"
                               required>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="padding-top: .35rem">
                <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                    <label class="form-check-label">
                        <input id="remember-me" name="remember-me" class="form-check-input" type="checkbox">
                        <span style="padding-bottom: .15rem">[[#{app.rememberMe}]]</span>
                    </label>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row" style="padding-top: 1rem">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-info"><i class="fas fa-sign-in-alt"></i> Login</button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>
</main>
</body>
</html>