@media(min-width:1200px){

  div {font-size:24px}

}
@media(min-width:992px){

  div {font-size:22px}

}
@media(min-width:768px){

  div {font-size:18px}

}
@media(max-width:767px){

  div {font-size:12px}
  h1 {font-size: 21px}

}
.background {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../images/background.jpg") top center;
  background-size: cover;
  background-repeat: repeat;
  position: relative;
}

.background:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-repeat: repeat;
}
h1 {
  color: rgb(36, 135, 206);
  position: relative;
}
body, html {
  height: 100%;
  margin: 0;
  position: relative;
}

#delete {
  background-color: #E12A3A!important;
}

button{
  background-color: rgb(36, 135, 206) !important;
}

.responsive-width {
  font-size: 0.7vw;
}

